<h1>Movies</h1>
<a style="margin:30px" href="https://localhost:5005/Movies/create" class="btn btn-primary ">Add Movie</a>

<div class=" container" id="app">
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="movie in movies">
                <td>
                    <a v-bind:href="'https://localhost:5005/Movies/Detail/'+movie.id">
                        <img v-bind:src="movie.image" style="object-fit:cover" height="100" />
                    </a>
                </td>
                <td><a v-bind:href="'https://localhost:5005/Movies/Detail/'+movie.id">{{movie.name}}</a></td>
                <td>{{movie.averageRating}}/10</td>
                <td>{{movie.releaseDate.split("T")[0]}}</td>
            </tr>
        </tbody>
    </table>
</div>


<script>
    var apiURL = 'https://localhost:5001/api/Movies/'
    var app = new Vue({
        el: '#app',
        data: {
            movies: null,
        },
        created: async function () {
            await axios
                .get(apiURL)
                .then(response => (this.movies = response.data))
        }
    })
</script>