@model int

<div class="container row" id="app">

    <div class="card border mx-auto col-sm-6">
        <div class="card-header" style="background-color:white">
            <h2>{{actor.name}}</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Date of birth</th>
                        <td>{{actor.dateOfBirth.split("T")[0]}}</td>
                    </tr>
                    <tr>
                        <th>Movies(s)</th>
                        <td><a :href="'http://localhost:5005/movies/detail/' + movie.id" v-for="movie in actor.movies"> {{movie.name}}<br/></a></td>
                    </tr>

                </tbody>
            </table>
            <h4>Biography:</h4>
            <p>{{actor.biography}}</p>
            <br />
            <button class="btn-danger btn-block" data-toggle="modal" data-target="#delete">Delete</button>
            <a href="http://localhost:5005/actors/Edit/@Model" class=" btn btn-primary btn-block text-center">Edit</a>
        </div>
    </div>
    <div class="col-sm-6">
        <img v-bind:src="actor.image" class="img-fluid" />
    </div>


    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal">Delete {{actor.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{actor.name}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" v-on:click="deleteActor" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="~/lib/vue/vue.js"></script>
<script src="~/lib/axios/axios.min.js"></script>
<script>
    var jwtToken = window.localStorage.getItem('jwtToken');
    const config = {
        headers: { Authorization: `Bearer ${jwtToken}` }
    };
    var apiActor = 'http://192.168.151.180:5000/api/Actors/@Model'
    var app = new Vue({
        el: '#app',
        data: {
            actor: {},
        },
        created: async function () {
           await axios
                .get(apiActor)
                .then(response => (this.actor = response.data))
            console.log(this.actor);
        },
        methods: {
            deleteActor: async function () {
                await axios.delete(apiActor, config);
                setTimeout(ReturnToActors, 1000);
            },
        }
    })

    function ReturnToActors() {
        window.location.href = 'http://localhost:5005/actors';
    }


</script>